@import '@mdxeditor/editor/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


/* WRAP CHECKBOX MDXEDITOR */
.prose li[role='checkbox'] {
  position: relative;
}

/* checkbox visual (pseudo-element) */
.prose li[role='checkbox']::before {
  left: 0.25rem;
  top: 0.15rem;
}

/* teks span */
.prose li[role='checkbox']>span {
  padding-left: 1.5rem;
}

/* checkbox visual (pseudo-element) */
.prose li[role='checkbox']::after {
  position: absolute;
  left: 0.6rem;
  top: 0.4rem;
}

/* Wrap toolbar MDXEditor */
.mdxeditor-toolbar {
  flex-wrap: wrap !important;
  overflow-x: visible !important;
}